<?xml version="1.0" encoding="UTF-8"?>

<phpunit colors="true"
         bootstrap="bootstrap.php"
>
    <testsuites>
        <testsuite name="Patchwork UTF-8 Test Suite">
            <directory>./Patchwork/</directory>
            <directory>./php-utf8/</directory>
        </testsuite>
    </testsuites>
</phpunit>
